<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<bean id="firePhenix"
		class="com.maizuo.seat.service.offer.impl.FirePhenixServiceImpl"
		init-method="init" scope="singleton">
	</bean>

	<bean id="skyStart" class="com.maizuo.seat.service.offer.impl.SkyStarServiceImpl"
		init-method="init" scope="singleton">
	</bean>
	<!-- <bean id="wanda" class="com.maizuo.seat.service.offer.impl.WandaServiceImpl" 
		init-method="init" scope="singleton"></bean> <bean id="dingXin" class="com.maizuo.seat.service.offer.impl.DingXinServiceImpl" 
		init-method="init" scope="singleton"></bean> <bean id="splier" class="com.maizuo.seat.service.offer.impl.SplierServiceImpl" 
		init-method="init" scope="singleton"></bean> -->
</beans>
  